body
{
    background-position: left top;
    padding-top: 0px;
    padding-bottom: 30px;
    background-image: url('../DocsAssets/Image/bg.png');
    background-attachment: scroll;
    background-repeat: repeat;
    background-color: rgb(236, 236, 236);
    font-family: 微软雅黑;
}

.container
{
    background-color: rgb(256, 256, 256);
}

.theme-dropdown .dropdown-menu
{
    display: block;
    position: static;
    margin-bottom: 20px;
}

.theme-showcase > p > .btn
{
    margin: 5px 0;
}


.banner
{
    height: 97px;
    vertical-align: bottom;
}

/*左侧菜单*/
.left-menu
{
    margin-top:5px;
    padding-left: 0;
    font-size:13px;
}
.left-menu ul
{
    margin-top:2px;
    margin-bottom:0px;
    list-style: none;
    font-weight: bold;
}

.left-menu li
{
    cursor: pointer;
    padding-left: 25px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: normal;
    height: 23px;
}
.left-menu li a:hover
{
    color: #0000ff;
    text-decoration: none;
    font-weight: bold;
}

.left-menu-focus
{
    color: #0000ff;
    font-weight: bold; /* background: url("../DocsAssets/Image/circle.jpg");*/
}

.Login-PanelHeight
{
    overflow: hidden;
    min-height:450px;
}

.PanelHeight
{
    overflow: hidden;
    min-height:580px;
}

.FooterSize
{
    font-size:14px;
}